@model Footprint.Models.Consumer
@using LocalResources = Footprint.Properties.Resources

@{
    ViewBag.Title = "";
}



<div class="container-fluid">
  <div class="row-fluid">
      <div class="span10">
          <!--Body content-->
          <table class="table" style="width: 40%; max-width: 50%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Consumer</th>
                  <th>Usage</th>
                  <th>Norm</th>
                </tr>
              </thead>
              <tbody>
                  @for (int i = 0; i < Model.Statistic.Count; ++i )
                  {
                    <text>
                    <tr>
                        <td>@(String.Format("#:{0}", i))</td>
                        <td>@Model.Statistic[i].Consumer</td>
                        <td>@(String.Format("{0}", @Model.Statistic[i].Usage)) </td>
                        <td>@(String.Format("{0}", @Model.Statistic[i].Norm)) </td>
                    </tr>
                    </text>
                  }
              </tbody>
            </table>
      </div>

      <div class="span2">
          <!--Sidebar content-->

      </div>

  </div>
</div>