@model Footprint.Site.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
 <section>
    @using (Html.BeginForm(new {ViewBag.ReturnUrl }))
    {
        <div class="container">
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>Existing Users Login</legend>
                    <div class="control-group">
                        @Html.LabelFor(m => m.UserName)
                        <div class="controls">
                            <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "input-xlarge"})
                            </div>
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="control-group">
                       @Html.LabelFor(m => m.Password)
                        <div class="controls">
                            <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge"})
                            </div>
                            @Html.ValidationMessageFor(m => m.Password)
                        </div> 
                    </div>
                    <div class="control-group">
                        <label class="checkbox">Remember me?
                            @Html.CheckBoxFor(m => m.RememberMe)
                        </label> 
                    </div>
                    
                    <div class="form-actions">
                        <input type="submit" name="Submit" value="Login" class="btn btn-primary">
                        <span class="offset1">@Html.ActionLink("Register", "Register", "Account") if you don't have an account.</span>
                    </div>
            
                    <input name="a" type="hidden" value="login">
                </fieldset>
            </div>
    }
</section>
