@model Footprint.Site.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) 
{
    <div class="container">
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Register Users</legend>
            <div class="control-group">
                @Html.LabelFor(m => m.UserName)
                <div class="controls">
                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "input-xlarge"})
                        
                    </div>
                </div>
                  @Html.ValidationMessageFor(m => m.UserName)

            </div>
               
            <div class="control-group">
                @Html.LabelFor(m => m.Password)
                <div class="controls">
                    <div class="input-prepend"><span class="add-on"><i class="icon-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge"})
                    </div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div> 
            </div>
            <div class="form-actions">
                <input type="submit" name="Register" value="Register" class="btn btn-primary">
            </div>   
            <input name="a" type="hidden" value="login">
        </fieldset>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
